* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.main-bg {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(eduford_img/banner.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

nav {
    /* background-color: bisque; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 6%;
}

nav img {
    width: 150px;
    margin-top: 15px;
}

.nav-links {
    text-align: right;
    /* flex: 1; */
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    /* background-color: #f44336; */
    height: min-content;
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    font-size: 14px;
    margin: 10px 0 40px;
    color: #fff;
}

.btn {
    color: #fff;
    font-size: 13px;
    padding: 12px 34px;
    border: 1px solid #fff;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa-solid {
    display: none;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }

    @media(max-width: 750px) {
        .nav-links ul li {
            display: none;
        }

        nav img {
            margin-left: 60%;
        }
    }

    /* .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa-solid{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 10px;
    } */
}

/* Course */

.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.course h1 {
    font-size: 36px;
    font-weight: 600;
}

.course p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col {
    background-color: #fff3f3;
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.course-col h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/* Campus */

.campus {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus h1 {
    font-size: 36px;
    font-weight: 600;
}

.campus p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img {
    width: 100%;
    display: block;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(226, 0, 0, 0.7);
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities h1 {
    font-size: 36px;
    font-weight: 600;
}

.facilities p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.facilities-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img {
    width: 100%;
    border-radius: 10px;
}

.facilities-col p {
    padding: 0;
}

.facilities-col h3 {
    margin: 15px 0 16px 0;
    text-align: left;
}

/* Testimonials */

.testimonials {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.testimonials h1 {
    font-size: 36px;
    font-weight: 600;
}

.testimonials p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.testimonial-col {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background-color: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testimonial-col img {
    height: 40px;
    margin: 0 30px 0 5px;
    border-radius: 50%;
}

.testimonial-col p {
    padding: 0;
}

.testimonial-col h3 {
    margin-top: 15px;
}

.para {
    text-align: left;
}

.testimonial-col .fa-solid,
.fa-regular {
    color: #f44336;
}

@media(max-width: 700px) {
    .testimonial-col img {
        margin-left: 0px;
        margin-right: 15px;
    }
}

@media(max-width: 900px) {
    .testimonial-col {
        flex-basis: 42%;
    }
}

/* Call To Action */

.cta {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./eduford_img/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1 {
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

.cta a {
    text-decoration: none;
}

@media(max-width: 700px) {
    .cta h1 {
        font-size: 24px;
    }
}

/* Footer */

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.footer h4 {
    margin: 20px 25px;
    font-weight: 600;
}

.footer .fa-regular {
    color: #777;
}

.icons .fa-brands {
    color: #777;
    margin-right: 13px;
    cursor: pointer;
    padding: 18px 0;
}


/* About Us Page */

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7)),url(./eduford_img/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header h1{
    margin-top: 100px;
}

.about-us{
    /* background-color: #f44336; */
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col{
    /* background-color: aquamarine; */
    flex-basis: 100%;
    padding: 30px 2px;
}

.about-col h1 {
    font-size: 36px;
    font-weight: 600;
}

.about-col p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.about-col img{
    width: 100%;
}

.red-btn{
    margin-left: 10px;
    font-size: 13px;
    padding: 12px 34px;
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}

.red-btn:hover {
    color: #fff;
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}